* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    /* background-color: royalblue;ƒ */
}

a {
    text-decoration: none;
}

.space {
    margin: 20px 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 980px;
    width: 100%;
    padding: 10px;
    color: rgb(77, 77, 77);
    
}

header a {
    color: rgb(77, 77, 77);
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #e7e7e7;
    max-width: 980px;
    width: 100%;
    padding: 15px 10px;
}

.detail-empty {
    max-width: 270px;
    width: 100%;
}

.details-left a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(59, 59, 255);
}

.details-left a svg {
    fill: rgb(59, 59, 255);
    stroke: rgb(59, 59, 255);
    max-width: 14px;
    margin-top: 5px;
    max-height: 20px;
    height: 100%;
}

.details-left span {
    display: block;
}


.details-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name-tag {
    margin-top: 70px;
    position: relative;
}

.name-tag h1 {
    font-size: 48px;
    font-weight: 600;
}

.name-tag p {
    font-size: 21px;
    font-weight: 400;
    color: #1d1d1f;
}


main {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1380px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 90px; */
    padding: 20px 30px;
    position: relative;
}

.main-left {
    max-width: 770px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 70px;
    background-color: rgb(226, 226, 226);
    max-width: 750px;
    width: 100%;
}

.bottom {
    width: 300px;
    height: 480px;
}

.main-right {
    max-width: 560px;
    padding: 20px 30px;
    position: static;
    top: 30px;
}


.best {
    color: rgb(134, 134, 134);
}

.model-box {
    margin-top: 40px;
}



.model-box-item {
    margin-top: 15px;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid rgb(117, 117, 117);
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

.box-item-left {
    text-align: left;
    line-height: 20px;
}

.box-item-left p {
    font-size: 18px;
    font-weight: 600;
}

.box-item-right {
    text-align: right;
}

.colors {
    margin-top: 70px;
}

.colors h2 {
    margin-bottom: 50px;
}

.colors h3 {
    margin-bottom: 20px;
}

.color-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-box-item {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.blue {
    background-color: blue;
}

.midnight {
    background-color: rgb(29, 29, 31);
}

.purple {
    background-color: rgb(255, 134, 255);
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.storage {
    margin-top: 90px;
}

.memory-item {
    margin-top: 15px;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid rgb(117, 117, 117);
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}


#selected-item {
    border: 3px solid rgb(107, 107, 255);
}